<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Monday_Final_Run">
    <test name="First Chaining Program Run">
        <classes>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.CreateToken">
                <methods>
                    <include name="getToken"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.CreateBooking">
                <methods>
                    <include name="getBookingId"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.GetCreatedBookingDetails">
                <methods>
                    <include name="getCreatedBookingDetails"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.UpdateCreatedBooking">
                <methods>
                    <include name="updateExistingBooking"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.GetUpdatedBookingDetails">
                <methods>
                    <include name="getUpdatedBookingDetails"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.DeleteCreatedBooking">
                <methods>
                    <include name="deleteCreateBooking"/>
                </methods>
            </class>
            <class name="com.APIAutomation7xBatchPractice.sep23rd.GetDeletedBookingDetails">
                <methods>
                    <include name="getDeletedBookingDetails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>